<div class="crystal-card">
    
    <div class="spacer"></div>
    <!--Break-->

    <div class="col-md-12 crystal-item">
        <div class="col-sm-12 m-auto pb-4">

            <div id="rrscontrollercarousel" class="carousel carousel-dark slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#rrscontrollercarousel" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#rrscontrollercarousel" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#rrscontrollercarousel" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#rrscontrollercarousel" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#rrscontrollercarousel" data-bs-slide-to="4"
                        aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#rrscontrollercarousel" data-bs-slide-to="5"
                        aria-label="Slide 6"></button>
                    <button type="button" data-bs-target="#rrscontrollercarousel" data-bs-slide-to="6"
                        aria-label="Slide 7"></button>                                            
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src=".\assets\resources\PROYECTORRSCONTROLLER\Login.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src=".\assets\resources\PROYECTORRSCONTROLLER\MenúManager.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src=".\assets\resources\PROYECTORRSCONTROLLER\RegistrarInstitucion.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src=".\assets\resources\PROYECTORRSCONTROLLER\RegistrarUsuario.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src=".\assets\resources\PROYECTORRSCONTROLLER\RegistrarMenú.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src=".\assets\resources\PROYECTORRSCONTROLLER\InfoMenu.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src=".\assets\resources\PROYECTORRSCONTROLLER\Reportes.png" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#rrscontrollercarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#rrscontrollercarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
        <div class="p-2">
            <h5 class="pb-4">RRSCONTROLLER</h5>

            <p>RRSCONTROLLER es una aplicación web diseñada para gestionar y administrar
                 los envíos de alimentos de la PAE a diversas instituciones. Permite controlar la base de
                  datos de alimentos, administrar los menús de cada envío y recibir notificaciones de
                   recepción.
            </p>

            <app-devicon-container IconSize="small"
                [Icons]="[{name:'.Net Core'}, {name:'Csharp'}, {name:'HTML'}, {name:'Css'}, {name:'Bootstrap'}, {name:'SqlServer'}]">
            </app-devicon-container>
        </div>
    </div>


    <div class="spacer"></div>
    <!--Break-->

    <div class="col-md-12 crystal-item">
        <div class="col-sm-12 m-auto pb-4">

            <div id="rrseasyparkcarousel" class="carousel carousel-dark slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#rrseasyparkcarousel" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#rrseasyparkcarousel" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#rrseasyparkcarousel" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#rrseasyparkcarousel" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#rrseasyparkcarousel" data-bs-slide-to="4"
                        aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#rrseasyparkcarousel" data-bs-slide-to="5"
                        aria-label="Slide 6"></button>
                    <button type="button" data-bs-target="#rrseasyparkcarousel" data-bs-slide-to="6"
                        aria-label="Slide 7"></button>
                    <button type="button" data-bs-target="#rrseasyparkcarousel" data-bs-slide-to="7"
                        aria-label="Slide 8"></button>
                    <button type="button" data-bs-target="#rrseasyparkcarousel" data-bs-slide-to="8"
                        aria-label="Slide 9"></button>
                    <button type="button" data-bs-target="#rrseasyparkcarousel" data-bs-slide-to="9"
                        aria-label="Slide 10"></button>
                    <button type="button" data-bs-target="#rrseasyparkcarousel" data-bs-slide-to="10"
                        aria-label="Slide 11"></button>
                    <button type="button" data-bs-target="#rrseasyparkcarousel" data-bs-slide-to="11"
                        aria-label="Slide 12"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src=".\assets\resources/RRSEASYPARK/Home.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src=".\assets\resources/RRSEASYPARK/Nosotros.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src=".\assets\resources/RRSEASYPARK/IniciarSesion.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/resources/RRSEASYPARK/Registro.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/resources/RRSEASYPARK/BuscarParqueadero.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/resources/RRSEASYPARK/ParqueaderosDisponibles.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/resources/RRSEASYPARK/Reservar.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/resources/RRSEASYPARK/ReservasAgendadas.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/resources/RRSEASYPARK/ReservasHechas.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/resources/RRSEASYPARK/EditarParqueadero.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/resources/RRSEASYPARK/CambiarDatosParqueadero.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/resources/RRSEASYPARK/RegistroParqueadero.png" class="d-block w-100" alt="...">
                    </div>                    
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#rrseasyparkcarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#rrseasyparkcarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
        <div class="p-2">
            <h5 class="pb-4">RRSEASYPARK</h5>

            <p>RRSEASYPARK es un sistema de estacionamiento y gestión de parqueaderos publicos que
                 permite a los usuarios, incluidos los discapacitados, localizar y reservar espacios con
                  anticipación. Proporciona información en tiempo real sobre la disponibilidad de espacios,
                   optimizando su uso y reduciendo el estrés.
            </p>

            
            <a href="https://github.com/carlosandresramos/RRSEASYPARKFRONT">
                <p>Código fuente (Front-End)</p>
            </a>
            <a href="https://github.com/carlosandresramos/RRSEASYPARK">
                <p>Código fuente (Back-End)</p>
            </a>

            <app-devicon-container IconSize="small" 
            [Icons]="[{name:'.Net Core'}, {name: 'Angular'}, {name:'Csharp'}, {name:'HTML'}, {name:'Css'}, {name:'Type'},
              {name:'Swagger'}, {name:'Postman'}, {name:'SqlServer'}, {name:'Azure'}, {name:'GitHub'}, {name:'Jira'}, {name:'Slack'}]">
            </app-devicon-container>
        </div>
    </div>


    <div class="spacer"></div>
    <!--Break-->

    <div class="col-md-12 crystal-item">
        <div class="col-sm-12 m-auto pb-4">

            <div id="datasciencecarousel" class="carousel carousel-dark slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#datasciencecarousel" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#datasciencecarousel" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#datasciencecarousel" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#datasciencecarousel" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="./assets/resources/DataScience/Dashboard.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/resources/DataScience/CVEsMasCriticos.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/resources/DataScience/CVEsMásComunes.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/resources/DataScience/MaquinasMasVulnerables.png" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#datasciencecarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#datasciencecarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
        <div class="p-2">
            <h5 class="pb-4">GraphCVE: Plataforma de Visualización y Análisis de Vulnerabilidades en los Software</h5>

            <p>Proyecto de ciencia de datos a partir de APIs que genera gráficas de los CVEs encontrados
                 en los software de múltiples computadoras. Ofrece un enfoque integral para monitorear
                  y análizar la seguridad informática, además poder tener visualizaciones claras de las
                   vulnerabilidades para facilitar la toma de decisiones y la priorización de tareas de
                    mantenimiento.
            </p>

            <app-devicon-container IconSize="small" [Icons]="[{name:'Flask'}, {name:'Jupyter'}, {name:'Python'}, {name:'HTML'}
             , {name:'Css'}, {name:'Javascript'}, {name:'MongoDB'}
            ]">
            </app-devicon-container>
        </div>
    </div>
</div>