nav {
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-size: 13px;
}

.selected {
    color: #5271ff;
    font-weight: bold;    
}

nav ul {
    list-style-type: none;
}

li {
    float: left;
}

.menu {
    display: flex;
    justify-content: left;
    align-content: center;
    gap: 20px;
}